<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo-area">
      <img class="footer__logo" src="images/components/logo.png" alt="フッターのロゴ" />
    </div>

    <div class="footer__content">
      <div class="footer__copyright">
        <p class="footer__copyright-text">
          Copyright © 株式会社アイルソフト | AisleSoft inc. All rights Reserved.<span class="pc-break"></span>
        </p>
      </div>

      <div class="footer__links">
        <a class="footer__link-item" href="company.html">会社概要</a>
        <a class="footer__link-item" href="privacy-policy.html">プライバシーポリシー</a>
        <a class="footer__link-item" href="site-policy.html">サイトポリシー</a>
      </div>
    </div>
  </div>
</footer>